.App {
  width: 80%;
  margin: 0 auto;
}

.timers-com{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
}

.timer-form p{
  font-weight: 900;
}

.timer-form input {
  margin: 16px 0;
  display: block;
  padding: 8px;
}

.timer-form button {
  background-color: gainsboro;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: medium;
  font-weight: 900;
}

.timer {
  background-color: gainsboro;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 16px 0;
  width: 100%;
}

.timer-countdown {
  font-weight: 700;
  font-size: medium;
  letter-spacing: 1px;
}

.timer-currtime {
  margin: 12px 0;
  font-weight: 500;
}

.timer-closebtn {
  background: none;
  border: none;
  font-size: large;
  font-weight: bold;
  position: relative;
  left: 150px;
}